/.gitattributes export-ignore
/.gitignore export-ignore
/.yamllint.yaml export-ignore
/composer-require-checker.json export-ignore
/composer.lock export-ignore
/phpmd.xml.dist export-ignore
/phpunit.xml.dist export-ignore
/Makefile export-ignore
/phive.xml export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon export-ignore
/psalm.xml export-ignore
/tests/ export-ignore
/examples/ export-ignore
/.github/ export-ignore
