language: php
php:
  - 5.3.3
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  - hhvm-nightly
 
matrix:
    allow_failures:
        - php: hhvm
        - php: hhvm-nightly

script:
 - vendor/bin/phpunit

before_script:
 - sudo apt-get -qq update > /dev/null
 - phpenv rehash > /dev/null
 - composer selfupdate --quiet
 - composer install --dev --prefer-source
 - vendor/bin/phpunit
 - composer update --dev --prefer-source

notifications:
  irc: "irc.freenode.org#phpdocumentor"
  email:
    - mike.vanriel@naenius.com
    - ashnazg@php.net
    - boen.robot@gmail.com
