includes:
    - temp/ecs/config/clean-code.neon
    - temp/ecs/config/psr2-checkers.neon

parameters:
    skip:
        SlevomatCodingStandard\Sniffs\Classes\UnusedPrivateElementsSniff:
            - src/DocBlock/StandardTagFactory.php
