includes:
    - /composer/vendor/phpstan/phpstan-mockery/extension.neon
    - /composer/vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: max
    ignoreErrors:
        - '#Call to static method Webmozart\\Assert\\Assert::implementsInterface\(\) with class-string#'