parameters:
    level: max
    ignoreErrors:
        - '#Method phpDocumentor\\Reflection\\DocBlock\\StandardTagFactory::createTag\(\) should return phpDocumentor\\Reflection\\DocBlock\\Tag but returns mixed#'
        - '#Offset 2 on array\{string, 28, int\} on left side of \?\? always exists and is not nullable\.#'
        -
            message: "#^Class PHPStan\\\\PhpDocParser\\\\Parser\\\\ConstExprParser constructor invoked with 3 parameters, 1 required\\.$#"
            count: 1
            path: src/DocBlock/Tags/Factory/AbstractPHPStanFactory.php

        -
            message: "#^Class PHPStan\\\\PhpDocParser\\\\Parser\\\\PhpDocParser constructor invoked with 6 parameters, 3 required\\.$#"
            count: 1
            path: src/DocBlock/Tags/Factory/AbstractPHPStanFactory.php

        -
            message: "#^Class PHPStan\\\\PhpDocParser\\\\Parser\\\\TypeParser constructor invoked with 3 parameters, 2 required\\.$#"
            count: 1
            path: src/DocBlock/Tags/Factory/AbstractPHPStanFactory.php

        -
            message: "#^Parameter \\#1 \\$config of class PHPStan\\\\PhpDocParser\\\\Lexer\\\\Lexer constructor expects PHPStan\\\\PhpDocParser\\\\ParserConfig, true given\\.$#"
            count: 1
            path: src/DocBlock/Tags/Factory/AbstractPHPStanFactory.php

        -
            message: "#^Parameter \\#1 \\$config of class PHPStan\\\\PhpDocParser\\\\Parser\\\\ConstExprParser constructor expects PHPStan\\\\PhpDocParser\\\\ParserConfig, true given\\.$#"
            count: 1
            path: src/DocBlock/Tags/Factory/AbstractPHPStanFactory.php

        -
            message: "#^Parameter \\#1 \\$config of class PHPStan\\\\PhpDocParser\\\\Parser\\\\PhpDocParser constructor expects PHPStan\\\\PhpDocParser\\\\ParserConfig, PHPStan\\\\PhpDocParser\\\\Parser\\\\TypeParser given\\.$#"
            count: 1
            path: src/DocBlock/Tags/Factory/AbstractPHPStanFactory.php

        -
            message: "#^Parameter \\#1 \\$config of class PHPStan\\\\PhpDocParser\\\\Parser\\\\TypeParser constructor expects PHPStan\\\\PhpDocParser\\\\ParserConfig, PHPStan\\\\PhpDocParser\\\\Parser\\\\ConstExprParser given\\.$#"
            count: 1
            path: src/DocBlock/Tags/Factory/AbstractPHPStanFactory.php

        -
            message: "#^Parameter \\#2 \\$constExprParser of class PHPStan\\\\PhpDocParser\\\\Parser\\\\TypeParser constructor expects PHPStan\\\\PhpDocParser\\\\Parser\\\\ConstExprParser, true given\\.$#"
            count: 1
            path: src/DocBlock/Tags/Factory/AbstractPHPStanFactory.php

        -
            message: "#^Parameter \\#2 \\$typeParser of class PHPStan\\\\PhpDocParser\\\\Parser\\\\PhpDocParser constructor expects PHPStan\\\\PhpDocParser\\\\Parser\\\\TypeParser, PHPStan\\\\PhpDocParser\\\\Parser\\\\ConstExprParser given\\.$#"
            count: 1
            path: src/DocBlock/Tags/Factory/AbstractPHPStanFactory.php

        -
            message: "#^Parameter \\#3 \\$constantExprParser of class PHPStan\\\\PhpDocParser\\\\Parser\\\\PhpDocParser constructor expects PHPStan\\\\PhpDocParser\\\\Parser\\\\ConstExprParser, true given\\.$#"
            count: 1
            path: src/DocBlock/Tags/Factory/AbstractPHPStanFactory.php

    paths:
        - src
