<?xml version="1.0" encoding="utf-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
        colors="true"
        convertDeprecationsToExceptions="true"
        beStrictAboutOutputDuringTests="true"
        forceCoversAnnotation="true"
        verbose="true"
        bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html"
             target="build/coverage"
             lowUpperBound="35"
             highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <listeners>
        <listener
                class="Mockery\Adapter\Phpunit\TestListener"
                file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php"
        />
    </listeners>
</phpunit>
