<?xml version="1.0" encoding="utf-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.0/phpunit.xsd"
         colors="true" strict="true" bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="phpDocumentor\Reflection\DocBlock">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
        <directory suffix=".php">./src/</directory>
    </whitelist>
  </filter>
</phpunit>
